body{
    text-align: center;
    background: url(/img/school.jpg);
    padding-top: 180px;
}

h1{
    color: white;
    text-transform: uppercase;
}

label{
    color: white;
}

.quadrado{
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    background: lightblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background: lightcoral;
    color: white;
}